In [3]:
# get all keywards in python
import keyword
print(keyword.kwlist)
print("the total number of keyword is present in python",len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
the total number of keyword is present in python 35

 comments in python
 1-->single line comments
 2--> multiline comments


 single line comments are define by # this is single line comments
 and multiline comments are define by '''this is multiline comments '''

python intendation

for i in range(10):
    print(i)

this 4 spaces is called  itendation in python

in  python there is single line statement and muliline statement

single line statemet eg-->
a=10

multiline statemenr eg-->

a =1+2+3/              
    4+5+6/ 
    7+8+9/
    +10
    4+5+6/   or
    7+8+9/
    +10

In [4]:
# variable in python
str = "string"
a = 10
b = 20.34

In [6]:
# multiple assignment 

a,b,c = 10,20,30
print(a,b,c)

10 20 30

In [8]:
# this point the location or address where 1000 is store
x  = 1000
y = x
print(id(x),id(y))

2534278342992 2534278342992

In [21]:
# datatypes in python
str  = "string"
a = 10
b = 10.90
comp = 10+10j


print(type(a))
print(type(str))
print(type(b))
print(type(comp))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>

In [20]:
# we can do varios opertion on string
'''this is commments'''

str1 = "i am learing ml "
print(str1)
print(str1[-1])       
print(str1[2:6])

i am learing ml

am l

In [22]:
# list in python
lst  = [10,20,20.90,"Rahul"]
print(lst)
print(type(lst))

[10, 20, 20.9, 'Rahul']
<class 'list'>

In [24]:
# tuple in python
tup  = (10,29,'HELLO')
print(tup)
print(type(tup))

(10, 29, 'HELLO')
<class 'tuple'>

In [25]:
# sets in python
set = {10,20,30,40,10,80,70}
print(set)
print(type(set))
print(len(set))

{80, 20, 70, 40, 10, 30}
<class 'set'>
6

In [26]:
# dict in python
dict = {'name' :"Rahul",  'age' :21, 'degree' :'BCA'}
# There is key value pair like hash map in cpp 
print(dict)
print(dict['age'])

{'name': 'Rahul', 'age': 21, 'degree': 'BCA'}
21

In [37]:
# coonverstion b/t data type in python
_a = 10.008
print(int(a))

a  = 'Hello'
print(list(a))

10
['H', 'e', 'l', 'l', 'o']

In [38]:
# input  and output in python

a = input("enter the value of a :" )

print("the value  of a  is {}".format(a))

enter the value of a : 100

the value  of a  is 100

# operators in python 
%-->this is called modulo opertor that return remindor 
15%2 == 1
//-->this is called floor divition its return floor value
15//2  == 7

**  --> this is called exponrt this is used  to calculate power eg = 2**2 == 4
there is also  comparetion opeator and bitwise and logical opertor exist


comparetion operter --> == ,!=,>=,<=,>,<,
logical operater ---> and,not,or
bitwise operter  --> &,|,ect
asignment operter - --> =,+=,-=,*=,ect


special operter------
is--->
is not--->

eg--
a=10
b=10
print(a is b)


membership operter -->
in -->
list = [10,20,30,40]
print(20 in list)

In [42]:
# is and isnot operter eg
a=10
b=1
print(a is  b)

False

In [45]:
# membership operter eg
list = [10,20,30,40]
print(20 in list)

True